body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b3d2e;
  color: white;
  text-align: center;
}

h1 {
  padding: 10px;
}

.teams input {
  padding: 10px;
  margin: 5px;
  width: 130px;
}

.buttons button {
  padding: 14px;
  margin: 5px;
  font-size: 16px;
}

.wicket {
  background: #d32f2f;
  color: white;
}

.reset {
  background: black;
  color: white;
  padding: 10px;
  margin-top: 15px;
}